include ../mixins/flash-messages

doctype html
html

	//- HTML HEADER
	head
		meta(charset="utf-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")

		title= title || 'vidfit'
		link(rel="shortcut icon", href="/images/logosm.ico", type="image/x-icon")

		//- Customise the stylesheet for your site by editing /public/styles/site.sass
		link(href="/styles/site.css", rel="stylesheet")
		link(href="/styles/font-awesome.min.css", rel="stylesheet")
		link(href="/styles/animate.css", rel="stylesheet")
		//- This file provides the default styling for the KeystoneJS Content Editor
		if user && user.canAccessKeystone
			link(href="/keystone/styles/content/editor.min.css", rel="stylesheet")

		//- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
		//- Safely remove this block if you are not targeting IE8
		//-[if lt IE 9]
			script(src="//cdn.jsdelivr.net/html5shiv/3.7.3/html5shiv.js")
			script(src="//cdn.jsdelivr.net/respond/1.4.2/respond.min.js")
		//-[endif]

		//- Include template-specific stylesheets by extending the css block
		block css

		//- Add any other template-specific HEAD tags by extending the head block
		block head

	//- HTML BODY
	body
		//- HEADER
		div(role="navigation").navbar.navbar-default.navbar-fixed-top
			.container
				.navbar-header
					
					button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
						span.sr-only Toggle navigation
						span.icon-bar
						span.icon-bar
						span.icon-bar
					.navbar-header
						.nav-logo.navbar-brand
							a(href='/')
								svg#Layer_1(xmlns="http://www.w3.org/2000/svg", xmlns:xlink="http://www.w3.org/1999/xlink", version="1.1", x="0px", y="0px", viewbox="0 0 178.5 51.5", style="enable-background:new 0 0 178.5 51.5;", xml:space="preserve")
											style(type="text/css").
												.st0{fill:#2B2B2B;}
											g
												path.st0(d="M29.5,9.8c0.7-1.5,1.6-2.7,2.7-3.6c1.1-0.9,2.5-1.3,4-1.3c1.9,0,3.6,0.6,5,1.9c1.4,1.3,2.1,2.9,2.1,4.8   c0,1.7-1,4.9-3,9.4c-1.4,3.1-3.4,7.3-6.2,12.6c-3.1,5.9-4.7,9-4.7,9.1c-0.7,1.5-1.6,2.7-2.7,3.5c-1.1,0.8-2.4,1.2-4,1.2   c-1.6,0-3-0.4-4-1.2c-1.1-0.8-2-1.9-2.8-3.5c-0.3-0.7-1.8-3.6-4.5-8.9c-2.7-5.3-4.8-9.5-6.2-12.7C3,16.5,2,13.3,2,11.6   c0-1.8,0.7-3.4,2.2-4.7c1.4-1.3,3.1-1.9,4.9-1.9c1.6,0,2.9,0.4,4.1,1.3c1.1,0.9,2,2.1,2.7,3.6l6.9,15.7L29.5,9.8z")
												path.st0(d="M52.6,47.7c-1.9,0-3.3-0.6-4.2-1.8C47.5,44.6,47,43,47,41.1V20.4c0-1.9,0.5-3.5,1.4-4.8   c0.9-1.3,2.3-1.9,4.2-1.9c1.9,0,3.3,0.7,4.3,2c0.8,1.2,1.3,2.7,1.3,4.6L58.1,41c0,2-0.4,3.5-1.2,4.6C56,47,54.6,47.7,52.6,47.7z")
												path.st0(d="M105.8,47.4c-2.4,0-4.2-0.8-5.3-2.3c-1.1-1.5-1.7-3.5-1.7-6V13.6c0-3,0.7-5.1,2.1-6.4s3.6-2,6.6-2h13.1   c2.3,0,4.2,0.5,5.6,1.5c1.6,1.2,2.5,2.9,2.5,5.1c0,2.7-1.1,4.6-3.4,5.7c-1.6,0.8-4,1.1-7.2,1.1c-0.7,0-1.7,0-3-0.1   c-1.3,0-2.1-0.1-2.6-0.1v1.3c0.7,0,1.4,0,2.1,0c0.7,0,1.4,0,2.1-0.1c2.7,0,4.8,0.4,6.2,1.1c1.9,1,2.9,2.7,2.9,5.3   c0,2-0.6,3.5-1.8,4.5c-1.4,1.2-4.1,1.8-7.9,1.8c-0.6,0-1.3,0-1.9,0s-1.2,0-1.7-0.1c0,0.5,0,1.5,0.1,2.8c0,1.3,0.1,2,0.1,2   c0,3.9-0.7,6.7-2,8.2C109.7,46.7,108,47.4,105.8,47.4z")
												path.st0(d="M137.9,47.7c-1.9,0-3.3-0.6-4.2-1.8c-0.9-1.2-1.4-2.8-1.4-4.8V20.4c0-1.9,0.5-3.5,1.4-4.8   c0.9-1.3,2.3-1.9,4.2-1.9c1.9,0,3.3,0.7,4.3,2c0.8,1.2,1.3,2.7,1.3,4.6L143.4,41c0,2-0.4,3.5-1.2,4.6   C141.2,47,139.8,47.7,137.9,47.7z")
												path.st0(d="M147.4,19.4c0-1.8,0.6-3.2,1.8-4.1c1.2-0.9,2.7-1.3,4.7-1.3H169c1.9,0,3.4,0.4,4.6,1.3   c1.2,0.9,1.8,2.2,1.8,4.1c0,2.3-0.9,3.9-2.7,4.6c-1.1,0.5-3,0.8-5.7,0.8v16.1c0,2-0.4,3.6-1.2,4.8c-0.9,1.4-2.4,2.1-4.4,2.1   s-3.4-0.6-4.3-1.9c-0.9-1.3-1.3-2.9-1.3-4.9V24.8c-2.7,0-4.6-0.2-5.7-0.7C148.4,23.3,147.4,21.7,147.4,19.4z")
												path.st0(d="M88.7,18.6c-3.4-3.1-7.7-4.7-12.7-4.7h-6c-2.6,0-4.4,0.5-5.6,1.6c-1.1,1.1-1.7,2.9-1.7,5.4v19.5   c0,2.6,0.6,4.4,1.7,5.4c1.1,1.1,3,1.6,5.6,1.6h4.7c5.5,0,10-1.4,13.5-4.2c3.8-3.1,5.6-7.3,5.6-12.6C93.8,25.8,92.1,21.7,88.7,18.6z    M72.3,38.1V23.8l12.4,7.2L72.3,38.1z")
											path.st0(d="M234.6,10.6c-4.4-4-9.8-6-16.3-6h-7.6c-3.3,0-5.7,0.7-7.1,2c-1.4,1.4-2.2,3.7-2.2,6.9v24.9  c0,3.3,0.7,5.6,2.2,6.9c1.4,1.4,3.8,2,7.1,2h6c7.1,0,12.8-1.8,17.3-5.4c4.8-3.9,7.2-9.3,7.2-16.1C241.2,19.7,239,14.6,234.6,10.6z   M213.6,35.5V17.1l15.9,9.2L213.6,35.5z")
						.nav-logosm.navbar-brand.hide
							a(href='/')
								svg#Layer_1(version="1.1", xmlns="http://www.w3.org/2000/svg", xmlns:xlink="http://www.w3.org/1999/xlink", x="0px", y="0px", viewbox="0 0 51.3 55", style="enable-background:new 0 0 51.3 55;", xml:space="preserve")
											style(type="text/css").
												.st0{fill:#2B2B2B;}
											path.st0(d="M42.9,7.7C37.2,2.5,30.3,0,21.9,0h-9.8C7.8,0,4.7,0.9,2.9,2.6S0,7.3,0,11.4v32.1c0,4.3,0.9,7.2,2.8,8.9\
											C4.6,54.2,7.7,55,12,55h7.7c9.2,0,16.5-2.3,22.3-7c6.2-5,9.3-12,9.3-20.8C51.4,19.4,48.5,12.9,42.9,7.7z M15.8,39.8V16.1L36.3,28\
											L15.8,39.8z")
				
						.nav.navbar-nav.hidden-sm.hidden-md.hidden-lg
							form(role='search')
								.input-group
									input.form-control(type='text', placeholder='Search', name='search')
									.input-group-btn
										button.btn.btn-default(type='submit')
											i.glyphicon.glyphicon-search
												
						.top-space.col-sm-5.col-md-6
							.nav.navbar-nav.hidden-xs
								form(role='search')
									.input-group
										input.form-control(type='text', placeholder='Search', name='search')
										.input-group-btn
											button.btn.btn-default(type='submit')
												i.glyphicon.glyphicon-search
	
						.collapse.navbar-collapse
							ul.nav.navbar-nav.navbar-right
								each link in navLinks
									li(class=(section == link.key ? 'active' : null)): a(href=link.href)= link.label
				
								if user
									if user.canAccessKeystone
										li: a(href='/keystone') Open Admin
									li: a(href='/keystone/signout') Sign Out
								else
									li: a(href='/keystone/signin') Sign In
							
		#header

			//- Customise your site's navigation by changing the navLinks Array in ./routes/middleware.js
			//- ... or completely change this header to suit your design.



		//- BODY
		#body

			//- NOTE:
			//- There is no .container wrapping class around body blocks to allow more flexibility in design.
			//- Remember to include it in your templates when you override the intro and content blocks!

			//- The Intro block appears above flash messages (used for temporary information display)
			block intro

			//- Flash messages allow you to display once-off status messages to users, e.g. form
			//- validation errors, success messages, etc.
			+flash-messages(messages)

			//- The content block should contain the body of your template's content
			block content


		//- FOOTER
		#footer.wow.animated.fadeInUp
			p.line
				| © 2018 | UP834734 BSc | Digital Media


		//- JAVASCRIPT

		//- jQuery 1.11.3 is included by default, and required by both Bootstrap
		//- and the KeystoneJS Content Editor. If you are not targeting IE8,
		//- you can upgrade to 2.1.4 (also bundled) for better performance.
		script(src='/js/jquery/jquery-1.11.3.min.js')
		//- Customise which Bootstrap javascript files are served by including
		//- them specifically here, instead of bootstrap-3.3.5.min.js
		script(src='/js/bootstrap/bootstrap-3.3.5.min.js')
		script(src='/js/logo.js')
		script(src='/js/wow.min.js')
		script(src='/js/wow.init.js')
		script(src='/js/alert.js')
		script(src='/js/background.js')
		//- The KeystoneJS Content Editor provides support for ks-editable data attributes,
		//- which generate links to edit content for users who can access Keystone
		if user && user.canAccessKeystone
			script(src='/keystone/js/content/editor.js')

		//- Add scripts that are globally required by your site here.

		//- Include template-specific javascript files by extending the js block
		block js
